* {
    box-sizing: border-box;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */


/* Navigation styles */
#main_picture {
    background: url(Images/home1920-1280-contrast.jpg)no-repeat center top scroll;
    background-size: 100% auto;
}
#hamburger_collapse {
    margin-top: 80px;
    margin-right: 25px;
    position: absolute;
}
.navigation{
    height: 80px;
}
.navigation-mobile {
    display: none;
}
.navigation_button{
    float: right;
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.navigation_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.navigation_button_mobile{
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.2s;
}
.navigation_button_mobile:hover {
    transition: 0.2s;
    color: #999;
    text-decoration: none;
}
.well ul {
    padding-left: 0;
}
.slogan {
    padding-top: 220px;
    padding-bottom: 200px;
    font-size: 40px;
    text-align: center;
    color: white;
}
.quote {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}





/* Media queries */
@media (max-width: 1100px) {
    .slogan {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
@media (max-width: 992px) {
    .navigation{
        display: none;
    }
    .navigation-mobile{
        display: block;
    }
    .slogan {
        padding-top: 120px;
        padding-bottom: 80px;
    }
}
@media (max-width: 768px) {
    .slogan {
        font-size: 35px;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .quote {
        font-size: 20px;
        font-family: 'Courgette', cursive;
    }
}
@media (max-width: 650px) {
    .slogan {
        font-size: 25px;
        padding-top: 90px;
        padding-bottom: 20px;
    }
    .quote {
        font-size: 14px;
        font-family: 'Courgette', cursive;
    }
}