* {
    box-sizing: border-box;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */


/* Navigation styles */
#main_picture {
    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background: url(Images/home1920-1280-contrast.jpg) no-repeat fixed center;
    background-size: cover;
}
#hamburger_collapse {
    margin-top: 80px;
    margin-right: 25px;
    position: absolute;
}
.navigation{
    height: 80px;
}
.navigation-mobile {
    display: none;
}
.navigation_button, .navigation_button:focus{
    float: right;
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.navigation_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.navigation_button_mobile{
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.2s;
}
.navigation_button_mobile:hover {
    transition: 0.2s;
    color: #999;
    text-decoration: none;
}
.well ul {
    padding-left: 0;
}
.slogan {
    padding-top: 280px;
    padding-bottom: 140px;
    font-size: 40px;
    text-align: center;
    color: white;
}
.quote {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
#main_text {
    display: none;
}

/* resume container styles ****************/
.container_header {
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.container_button, .container_button:focus {
    text-decoration: none;
    text-align: center;
    margin: 50px auto 100px;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid #0f0f0f;
    background-color: transparent;
    display: block;
    padding: 10px 0 10px 0;
    color: #0f0f0f;
    transition: 0.5s;
}
.container_button:hover {
    text-decoration: none;
    background-color: #0f0f0f;
    color: white;
    transition: 0.5s;
}

/* portfolio container styles *************/
.project_1, .project_2, .project_3 {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background: no-repeat center;
    width: 30%;
    float: left;
    height: 400px;
}
.project_1{
    margin-left: 2%;
}
.project_2 {
    margin-left: 3%;
    margin-right: 3%;
}
.project_3 {
    margin-right: 2%;
}
.project_1:hover, .project_2:hover, .project_3:hover{
    box-shadow:0 0 0 400px rgba(0, 0, 0, 0.8) inset;
    transition: 0.3s;
}
.project_wrapper_1, .project_wrapper_2, .project_wrapper_3  {
    display: none;
}
.project_text_1 {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Courgette', cursive;
}
.project_text_2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Merienda One', cursive;
}
.project_button, .project_button:focus {
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid white;
    background-color: transparent;
    display: block;
    padding: 10px 20px 10px 20px;
    color: white;
    transition: 0.3s;
}
.project_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.3s;
}

/* about container styles *****************/
#about_pic {
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background: url(Images/about_main.jpg) no-repeat fixed center;
    background-size: cover;
}

/* blog container styles ******************/
.container_header {
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.container_button, .container_button:focus {
    text-decoration: none;
    text-align: center;
    margin: 50px auto 100px;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid #0f0f0f;
    background-color: transparent;
    display: block;
    padding: 10px 0 10px 0;
    color: #0f0f0f;
    transition: 0.5s;
}
.container_button:hover {
    text-decoration: none;
    background-color: #0f0f0f;
    color: white;
    transition: 0.5s;
}
.project_1, .project_2, .project_3 {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background: no-repeat center;
    width: 30%;
    float: left;
    height: 400px;
}
.under_project_1, .under_project_2, .under_project_3 {
    float: left;
    width: 30%;
}
.under_project_mob_1, .under_project_mob_2, .under_project_mob_3 {
    float: left;
    margin-left: 10%;
    width: 80%;
    display: none;
}
.project_1, .under_project_1{
    margin-left: 2%;
}
.project_2, .under_project_2 {
    margin-left: 3%;
    margin-right: 3%;
}
.project_3, .under_project_3 {
    margin-right: 2%;
}
.project_1:hover, .project_2:hover, .project_3:hover{
    box-shadow:0 0 0 400px rgba(0, 0, 0, 0.8) inset;
    transition: 0.3s;
}
.project_wrapper_1, .project_wrapper_2, .project_wrapper_3  {
    display: none;
}
.project_text_1 {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Courgette', cursive;
}
.project_text_2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Merienda One', cursive;
}
.project_button, .project_button:focus {
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid white;
    background-color: transparent;
    display: block;
    padding: 10px 20px 10px 20px;
    color: white;
    transition: 0.3s;
}
.project_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.3s;
}
.post_name {
    font-size: 20px;
    font-family: 'Merienda One', cursive;
}
.post_theme {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}
.post_text {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}
.read_more {
    text-decoration: none;
    color: #0b0b0b;
    transition: 0.2s;
    text-transform: uppercase;
    font-size: 13px;
}
.read_more:focus {
    outline: 0;
    text-decoration: none;
}
.read_more:hover {
    text-decoration: none;
    color: #999999;
    transition: 0.2s;
}
.post_link {
    text-decoration: none;
    transition: 0.2s;
    font-size: 16px;
}
.post_link:focus {
    outline: 0;
    text-decoration: none;
}
.post_link:hover {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

/* contact container styles ***************/
#contact_picture {
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background: url(Images/contact_main.jpg) no-repeat fixed center;
    background-size: cover;
}
.contact {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
}
.contact_button, .contact_button:focus {
    text-decoration: none;
    text-align: center;
    margin: 50px auto 100px;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid white;
    background-color: transparent;
    display: block;
    padding: 10px 0 10px 0;
    color: white;
    transition: 0.5s;
}
.contact_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.5s;
}

/* credentials container styles ***********/
.credentials_button, .credentials_button:focus {
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.credentials_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.credentials_mobile {
    display: none;
}
.socials_button, .socials_button:focus {
    text-decoration: none;
    color: #999;
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
}
.socials_button:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding-bottom: 15px;
}
.made_by {
    text-align: center;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin: 30px 0 -15px 0;
    padding-bottom: 70px;
    color: white
}




/* Media queries */
@media (max-width: 1100px) {
    .slogan {
        padding-top: 260px;
        padding-bottom: 90px;
    }
    .project_1, .project_2, .project_3 {
        height: 300px;
    }
    .project_text_1{
        margin-top: 50px;
        font-size: 20px;
    }
    .project_text_2 {
        font-size: 30px;
    }
    .project_button {
        margin-top: 80px;
    }
}
@media (max-width: 992px) {
    #main_picture {
        min-height: 700px;
    }
    .navigation{
        display: none;
    }
    .navigation-mobile{
        display: block;
    }
    .slogan {
        padding-top: 200px;
        padding-bottom: 60px;
    }
    .project_button {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .slogan {
        font-size: 35px;
        padding-top: 250px;
    }
    .quote {
        font-size: 20px;
        font-family: 'Courgette', cursive;
    }
    .project_1, .project_2, .project_3 {
        width: 80%;
        margin-left: 10%;
    }
    .project_2, .project_3 {
        margin-top: 50px;
    }
    .project_button {
        font-size: 20px;
    }
    .under_project_1, .under_project_2, .under_project_3 {
        display: none;
    }
    .under_project_mob_1, .under_project_mob_2, .under_project_mob_3 {
        display: block;
    }
}
@media (max-width: 650px) {
    .slogan {
        font-size: 25px;
        padding-top: 280px;
    }
    .quote {
        font-size: 14px;
        font-family: 'Courgette', cursive;
    }
    .credentials {
        display: none;
    }
    .credentials_mobile {
        display: block;
    }
}