* {
    box-sizing: border-box;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */


/* Navigation styles */
section{
    height: 100vh;
}
.bg-img::before {
    position: fixed;
    content: ' ';
    display: block;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
}
.bg-img1:before {
    background-image: url(Images/portfolio_main.jpg);
}
#hamburger_collapse {
    margin-top: 80px;
    margin-right: 25px;
    position: absolute;
}
.navigation{
    height: 80px;
}
.navigation-mobile {
    display: none;
}
.navigation_button, .navigation_button:focus{
    float: right;
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.navigation_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.navigation_button_mobile{
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.2s;
}
.navigation_button_mobile:hover {
    transition: 0.2s;
    color: #999;
    text-decoration: none;
}
.well ul {
    padding-left: 0;
}
.slogan {
    padding-top: 280px;
    padding-bottom: 140px;
    font-size: 40px;
    text-align: center;
    color: white;
}
.quote {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
#main_text {
    display: none;
}

/* project container styles ****************/
.container_header {
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.container_button, .container_button:focus {
    margin: auto;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #0f0f0f;
    background-color: transparent;
    display: block;
    padding: 10px 0px 10px 0px;
    color: #0f0f0f;
    transition: 0.5s;
}
.container_button:hover {
    text-decoration: none;
    background-color: #0f0f0f;
    color: white;
    transition: 0.5s;
}
.project_1, .project_2, .project_3, .project_4, .project_5, .project_6, .project_7, .project_8, .project_9{
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    width: 30%;
    float: left;
    height: 400px;
}
.project_1, .project_4, .project_7{
    margin-left: 2%;
}
.project_2, .project_5, .project_8 {
    margin-left: 3%;
    margin-right: 3%;
}
.project_3, .project_6, .project_9 {
    margin-right: 2%;
}
.project_1:hover, .project_2:hover, .project_3:hover, .project_4:hover, .project_5:hover, .project_6:hover, .project_7:hover, .project_8:hover, .project_9:hover{
    box-shadow:0 0 0 400px rgba(0, 0, 0, 0.8) inset;
    transition: 0.3s;
}
.project_wrapper_1, .project_wrapper_2, .project_wrapper_3, .project_wrapper_4, .project_wrapper_5, .project_wrapper_6, .project_wrapper_7, .project_wrapper_8, .project_wrapper_9  {
    display: none;
}
.project_text_1 {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Courgette', cursive;
}
.project_text_2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Merienda One', cursive;
}
.project_button, .project_button:focus {
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    display: block;
    padding: 10px 20px 10px 20px;
    color: white;
    transition: 0.3s;
}
.project_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.3s;
}

/* contact container styles ***************/
.bg-img2::before {
    background-image: url(Images/contact_main.jpg);
}
.contact {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
}
.contact_button, .contact_button:focus {
    margin: auto;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    display: block;
    padding: 10px 0px 10px 0px;
    color: white;
    transition: 0.5s;
}
.contact_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.5s;
}

/* credentials container styles ***********/
.credentials_button, .credentials_button:focus {
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.credentials_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.credentials_mobile {
    display: none;
}
.socials_button, .socials_button:focus {
    text-decoration: none;
    color: #999;
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
}
.socials_button:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding-bottom: 15px;
}
.made_by {
    text-align: center;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin: 30px 0 -15px 0;
    padding-bottom: 70px;
    color: white
}




/* Media queries */
@media (max-width: 1100px) {
    .slogan {
        padding-top: 260px;
        padding-bottom: 90px;
    }
    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6, .project_7, .project_8 {
        height: 300px;
    }
    .project_text_1{
        margin-top: 50px;
        font-size: 20px;
    }
    .project_text_2 {
        font-size: 30px;
    }
    .project_button {
        margin-top: 80px;
    }
}
@media (max-width: 992px) {
    #main_picture {
        min-height: 700px;
    }
    .navigation{
        display: none;
    }
    .navigation-mobile{
        display: block;
    }
    .slogan {
        padding-top: 200px;
        padding-bottom: 60px;
    }
    .project_button {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .slogan {
        font-size: 35px;
        padding-top: 250px;
    }
    .quote {
        font-size: 20px;
        font-family: 'Courgette', cursive;
    }
    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6, .project_7, .project_8 {
        width: 80%;
        margin-left: 10%;
    }
    .project_2, .project_3, .project_4, .project_5, .project_6, .project_7, .project_8 {
        margin-top: 50px;
    }
    .project_button {
        font-size: 20px;
    }
}
@media (max-width: 650px) {
    .slogan {
        font-size: 25px;
        padding-top: 280px;
    }
    .quote {
        font-size: 14px;
        font-family: 'Courgette', cursive;
    }
    .credentials {
        display: none;
    }
    .credentials_mobile {
        display: block;
    }
}