* {
    box-sizing: border-box;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */


/* Navigation styles */
section{
    height: 100vh;
}
.bg-img::before {
    position: fixed;
    content: ' ';
    display: block;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
}
.bg-img1:before {
    background-image: url(Images/resume_main.jpg);
}
#hamburger_collapse {
    margin-top: 80px;
    margin-right: 25px;
    position: absolute;
}
.navigation{
    height: 80px;
}
.navigation-mobile {
    display: none;
}
.navigation_button, .navigation_button:focus{
    float: right;
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.navigation_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.navigation_button_mobile{
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.2s;
}
.navigation_button_mobile:hover {
    transition: 0.2s;
    color: #999;
    text-decoration: none;
}
.well ul {
    padding-left: 0;
}
.slogan {
    padding-top: 250px;
    padding-bottom: 140px;
    font-size: 40px;
    text-align: center;
    color: white;
}
.quote {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
#main_text {
    display: none;
}
.download_button, .download_button:focus {
    margin: auto;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    display: block;
    padding: 10px 0px 10px 0px;
    color: white;
    transition: 0.5s;
}
.download_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.5s;
}
#download {
    display: none;
}

/* employment container styles ****************/
.container_header {
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.link, .link:focus {
    text-decoration: none;
    color: #0b0b0b;
}
.link:hover {
    color: #0b0b0b;
}
.container_text {
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
}

/* featured skills container styles ******************/
.container_text:hover {
    background-color: #EDEEEF;
}

/* contact container styles ***************/
.bg-img2::before {
    background-image: url(Images/contact_main.jpg);
}
.contact {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
}
.contact_button, .contact_button:focus {
    margin: auto;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    display: block;
    padding: 10px 0px 10px 0px;
    color: white;
    transition: 0.5s;
}
.contact_button:hover {
    text-decoration: none;
    background-color: white;
    color: #0f0f0f;
    transition: 0.5s;
}

/* credentials container styles ***********/
.credentials_button, .credentials_button:focus {
    border: none;
    font-size: 12px;
    text-decoration: none;
    padding: 13px 20px;
    margin: 20px 0 0 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s;
}
.credentials_button:hover {
    transition: 0.7s;
    color: #999;
    text-decoration: none;
}
.credentials_mobile {
    display: none;
}
#socials_mobile {
    display: none;
}
.socials_button, .socials_button:focus {
    text-decoration: none;
    color: #999;
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
}
.socials_button:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding-bottom: 15px;
}
.made_by {
    text-align: center;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin: 30px 0 -15px 0;
    padding-bottom: 70px;
    color: white
}

/* Media queries */
@media (max-width: 1100px) {
    .slogan {
        padding-top: 260px;
        padding-bottom: 90px;
    }
}
@media (max-width: 992px) {
    #main_picture {
        min-height: 700px;
    }
    .navigation{
        display: none;
    }
    .navigation-mobile{
        display: block;
    }
    .slogan {
        padding-top: 200px;
        padding-bottom: 60px;
    }
}
@media (max-width: 768px) {
    .slogan {
        font-size: 35px;
        padding-top: 250px;
    }
    .quote {
        font-size: 20px;
        font-family: 'Courgette', cursive;
    }
}
@media (max-width: 650px) {
    .slogan {
        font-size: 25px;
        padding-top: 280px;
    }
    .quote {
        font-size: 16px;
        font-family: 'Courgette', cursive;
    }
    .contact {
        font-size: 25px;
    }
    .credentials {
        display: none;
    }
    .credentials_mobile {
        display: block;
    }
}
@media (max-width: 500px) {
    #socials_mobile {
        display: block;
    }
    #socials {
        display: none;
    }
}