* {
	box-sizing: border-box;
}

.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

body {
	margin: 0;
}

.logo	{
	float: left;
	width: 20%;
	height: 200px;
	background-color: #f5f5f5;
}

.speed_call {
	float: left;
	width: 80%;
	height: 200px;
	text-align: right;
	background-color: #f5f5f5;
	padding-top: 40px;
	text-transform: uppercase;
}
#main_frame{
	float: left;
	width: 15%;

}
.main_panel {
	height: 42px;
	background-color: #2c2c2c;
}

.main_panel_button {
	float: right;
	border: none;
	text-decoration: none;
	padding: 9px 20px;
	margin: 0 0 -16px 10px;
	color: white;
	text-transform: uppercase;
	background-color: #2c2c2c;
}
.main_panel_button:hover {
	background: red;
	padding: 10px 20px;
}

.social {
	padding-top: 4px;
	margin-bottom: -2px;
	padding-left: 10px;
}
.social:hover {
	filter: brightness(0.3);

}
#main_picture {
	 background-image: url(Images/back-height-700-indigo.jpg);
	 height: 650px;
 }
#slogan {
	margin-top: 0;
	font-size: 70px;
	text-transform: uppercase;
	color: red;
	padding-top: 200px;
	text-align: center;
}
.about_us{
	text-align: center;
}

.speed_call_2 {
	height: 100px;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 20px;
	color: inherit;
}

.e-mail {
	height: 100px;
	float: left;
	width: 50%;
	text-align: center;
}
a {
	text-decoration: none;
	font-size: 20px;
	color: inherit;
}

.adress {
	text-align: center;
}

.footer {
	color: inherit;
}
