* {
	box-sizing: border-box;
}
.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

body {
	margin: 0px;
	line-height: 1.1;
}
.logo	{
	float: left;
	height: 70px;
	background-color: #f5f5f5;
}
#slogan-tel {
	text-transform: uppercase;
	color: #999999;
}
#callback {
	color: #999999;
}
#phone{
	width: 480px;
	height: 40px;
	margin-top: 5px;
	margin-right: 5px;
}
#name {
	width: 350px;
	height: 40px;
	margin-top: 5px;
}
#text {
	width: 840px;
	height: 200px;
	margin-top: 5px;
}
#submit {
	font-size: 12px;
	margin-bottom: 5px;
	width: 200px;
	height: 35px;
	background-color: #ba1212;
	border-radius: 4px;
	border: 1px solid transparent;
	color: white;
	text-transform: uppercase;
}
#submit:hover {
	background-color: #286090;
}
.speed_call {
	float: left;
	height: 70px;
	text-align: left;
	background-color: #f5f5f5;
	text-transform: uppercase;
}
#interview {
	margin-top: 20px;
	background-color: #ba1212;
	text-transform: uppercase;
	border-color: #ba1212;
}
#interview:hover {
	background-color: #286090;
	text-transform: uppercase;
	border-color: #286090;
}
h1{
	text-transform: uppercase;
	text-align: center;
}
#main_frame{
	float: left;
	min-width: 150px;
}
.main_panel {
	height: 42px;
	background-color: #2c2c2c;
}
.main_panel_button {
	float: right;
	border: none;
	font-size: 14px;
	text-decoration: none;
	padding: 13px 20px;
	margin: 0 0 -16px 10px;
	color: white;
	background-color: #2c2c2c;
}
.main_panel_button:hover {
	background: red;
	color: white;
	padding: 13.5px 20px;
	text-decoration: none;
}
.social {
	padding-top: 4px;
	margin-bottom: -2px;
	padding-left: 10px;
}
.social:hover {
	filter: brightness(0.3);
}
#main_picture {
	 background-image: url(Images/main.png);
	 height: 300px;
}
#slogan {
	width: 150px;
	font-size: 14px;
	text-transform: uppercase;
	color: red;
	text-align: center;
	margin-right: 15px;
}
.about_us{
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
}
.about_us_2{
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
.speed_call_2 {
	height: 100px;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 20px;
	color: inherit;
}
.e-mail {
	height: 100px;
	float: left;
	width: 50%;
	text-align: center;
}
a {
	text-decoration: none;
	font-size: 20px;
	color: inherit;
}
.address {
	text-align: center;
}
.footer {
	color: inherit;
}
#credits {
	margin-top: 30px;
}
#andrei, #year {
	text-align: center;
}
#andrei:hover {
	text-decoration: none;
	color: #999999;
}



